html {
  background: #fff;
  color: #333;
  font: 16px/1.4 Open Sans, Helvetica, Arial, sans-serif;
}

body {
  max-width: 720px;
  padding: 20px 40px;
  margin: 0 auto;
}

a {
  color: #e3695f;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

h1,
h2 {
  line-height: 1.2;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin: 1em 0;
}

/* structure */

.site-box {
  padding: 40px 60px 0;
  margin: 0 0 3em;
  background: #fff;
  text-align: center;
  box-shadow: 2px 4px 6px 1px rgba(50, 50, 50, 0.14);
}

.site-footer {
  width: 85%;
  margin: 0 auto;
}

.logo {
  width: 10rem;
}

.title {
  margin-bottom: 40px;
  font-size: 2.6em;
}

.tagline {
  margin: 0 0 0.75em;
  font-size: 2.25em;
}

/**
 * Calls to action
 */

.cta-option {
  position: relative;
  display: inline-block;
  /* IE6/7 inline-block hack */
  *display: inline;
  *zoom: 1;

  margin: 1.5em 0.75em 0.5em;
  vertical-align: bottom;
}

/**
 * Download button
 */

.btn-download {
  position: relative;
  display: inline-block;
  /* IE6/7 inline-block hack */
  *display: inline;
  *zoom: 1;

  padding: 0.4em 1em;
  border: 1px solid #e3695f;
  margin: 0 0 10px;
  color: #fff;
  background: #e3695f;
  border-radius: 4px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active {
  text-decoration: none;
}

/**
 * Alternative download button
 *
 * @extends .btn-download
 */

.btn-download-alt {
  border-color: #ccc;
  background: #eee;
  box-shadow: none;
  color: #666;
  font-size: 1.25em;
}

.btn-download-alt:hover,
.btn-download-alt:focus,
.btn-download-alt:active {
  background: #f5f5f5;
}

.btn-download-alt:active {
  background: #ddd;
}

/**
 * Share bar
 */

.share-bar {
  overflow: hidden;
  padding: 15px 30px;
  border-top: 1px solid #ddd;
  margin: 50px -60px 0;
  background: #fff;
  line-height: 28px;
  *zoom: 1;
}

.share-opt {
  float: left;
  height: 28px;
  margin: 0 15px 0 0;
}

.read-more {
  float: right;
}

/**
 * Utilities
 */

.txt-small {
  font-size: 0.75em;
}

.txt-large {
  font-size: 1.25em;
}

.txt-mute {
  color: #999;
}

@media screen and (max-width: 700px) {
  .read-more {
    float: none;
    display: block;
    margin: 0 0 1em;
    line-height: 1.2;
  }
}

@media screen and (max-width: 540px) {
  body {
    padding: 20px;
    font-size: 0.875em;
  }

  .site-box {
    padding: 30px 30px 0;
  }

  .cta-option {
    margin-left: 0;
    margin-right: 0;
  }

  .share-bar {
    margin-left: -30px;
    margin-right: -30px;
    text-align: center;
  }

  .share-opt {
    float: none;
    display: inline-block;
    margin: 0 1em 0.5em;
  }
}
