/* ============================================================ *\
*               Normalize.css Stylesheet v8.0.1                  *
*                        MIT License                             *
*           Source: github.com/necolas/normalize.css             *
*        Formatting: github.com/404pandas/normalize.css/         *
\* -----------------------------------------------------------  */

/* -------------------      Document       -----------------------
==================================================================
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS. */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* --------------------      Sections       ----------------------
==================================================================
 * 1. Remove the margin in all browsers.
 * 2. Render the `main` element consistently in IE.
 * 3. Correct the font size and margin on `h1` elements within `section`
      and`article` contexts in Chrome, Firefox, and Safari. */

body {
  margin: 0; /* 1 */
}

main {
  display: block; /* 2 */
}

h1 {
  font-size: 2em; /* 3 */
  margin: 0.67em 0; /* 3 */
}

/* ---------------      Grouping Content       -------------------
==================================================================
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 * 3. Correct the inheritance and scaling of font size in all browsers.
 * 4. Correct the odd `em` font sizing in all browsers. */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 3 */
  font-size: 1em; /* 4 */
}

/* -------------      Text level semantics       -----------------
==================================================================
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove the bottom border in Chrome 57.
 * 3. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 * 4. Add the correct font weight in Chrome, Edge, and Safari. 
 * 5. Correct the inheritance and scaling of font size in all browsers.
 * 6. Correct the odd `em` font sizing in all browsers.
 * 7. Add the correct font size in all browsers.
 * 8. Prevent `sub` and `sup` elements from affecting the line
      height in all browsers. */

a {
  background-color: transparent; /* 1 */
}

abbr[title] {
  border-bottom: none; /* 2 */
  text-decoration: underline; /* 3 */
  text-decoration: underline dotted; /* 3 */
}

b,
strong {
  font-weight: bolder; /* 4 */
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 5 */
  font-size: 1em; /* 6 */
}

small {
  font-size: 80%; /* 7 */
}

sub,
sup {
  font-size: 75%; /* 8 */
  line-height: 0; /* 8 */
  position: relative; /* 8 */
  vertical-align: baseline; /* 8 */
}

sub {
  bottom: -0.25em; /* 8 */
}

sup {
  top: -0.5em; /* 8 */
}

/* ---------------      Embedding Content       ------------------
==================================================================
 * 1. Remove the border on images inside links in IE 10. */

img {
  border-style: none; /* 1 */
}

/* ---------------------      Forms       ------------------------
==================================================================
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 * 3. Show the overflow in IE.
 * 4. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 5. Correct the inability to style clickable types in iOS and Safari.
 * 6. Remove the inner border and padding in Firefox.
 * 7. Restore the focus styles unset by the previous rule.
 * 8. Correct the padding in Firefox.
 * 9. Correct the text wrapping in Edge and IE.
 * 10. Correct the color inheritance from `fieldset` elements in IE.
 * 11. Remove the padding so developers are not caught out when they
       zero out `fieldset` elements in all browsers. */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  overflow: visible; /* 3 */
}

button,
select {
  text-transform: none; /* 4 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 5 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none; /* 6 */
  padding: 0; /* 6 */
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; /* 7 */
}

fieldset {
  padding: 0.35em 0.75em 0.625em; /* 8 */
}

legend {
  box-sizing: border-box; /* 9 */
  color: inherit; /* 10 */
  display: table; /* 9 */
  max-width: 100%; /* 9 */
  padding: 0; /* 11 */
  white-space: normal; /* 9 */
}

/* ------------------      Forms Pt. 2       ---------------------
==================================================================
 * 1. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 * 2. Remove the default vertical scrollbar in IE 10+.
 * 3. Add the correct box sizing in IE 10.
 * 4. Remove the padding in IE 10.
 * 5. Correct the cursor style of increment and decrement buttons in Chrome.
 * 6. Correct the odd appearance in Chrome and Safari.
 * 7. Correct the outline style in Safari.
 * 8. Remove the inner padding in Chrome and Safari on macOS.
 * 9. Correct the inability to style clickable types in iOS and Safari.
 * 10. Change font properties to `inherit` in Safari. */

progress {
  vertical-align: baseline; /* 1 */
}

textarea {
  overflow: auto; /* 2 */
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 3 */
  padding: 0; /* 4 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; /* 5 */
}

[type="search"] {
  -webkit-appearance: textfield; /* 6 */
  outline-offset: -2px; /* 7 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* 8 */
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 9 */
  font: inherit; /* 10 */
}

/* ------------------      Interactive       ---------------------
==================================================================
 * 1. Add the correct display in Edge, IE 10+, and Firefox.
 * 2. Add the correct display in all browsers. */

details {
  display: block; /* 1 */
}

summary {
  display: list-item; /* 2 */
}

/* ---------------------      Misc       -------------------------
==================================================================
 * 1. Add the correct display in IE 10+.
 * 2. Add the correct display in IE 10. */

template {
  display: none; /* 1 */
}

[hidden] {
  display: none; /* 2 */
}
