$base-font-family: Arial, sans-serif !global;

$base-font-size: 24px !global;

$base-line-height: 36px !global;

$h1-font-size: 3    * $base-font-size !global;
$h2-font-size: 2    * $base-font-size !global;
$h3-font-size: 1.5  * $base-font-size !global;
$h4-font-size: 0.9  * $base-font-size !global;
$h5-font-size: 0.75 * $base-font-size !global;
$h6-font-size: 0.5  * $base-font-size !global;

// Some font sizes are shown in the non-strict version of Normalize.scss.
$strict-normalize: false !global;

@import "normalize";
