/* ==========================================================================
   Anchors

   Normalize anchor sytling for legacy browsers.
   ========================================================================== */

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}
